html,
body {
  min-height: 100%;
  overflow-x: clip;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .min-h-w {
    min-height: 35px;
    min-width: 35px;
  }

  .jbt-left-group {
    @apply w-full py-6 px-11 grid gap-2 justify-center items-center text-color-primary sm:w-3/4 md:gap-4 md:pl-16 md:w-2/3 lg:w-2/4;
  }

  .jbt-card-synopsis {
    @apply bg-gradient-to-r from-color-white/10 to-color-black/20 to-60% backdrop-blur-lg -ml-16 pl-16 py-2 pr-4 rounded-r-xl border border-color-white/10 border-l-0 italic md:rounded-r-3xl;
  }

  .jbt-text-group-genres {
    @apply py-2 px-3 bg-gradient-to-r from-color-white/10 to-color-black/20 backdrop-blur-lg rounded-lg border border-color-white/10 text-xs md:text-base;
  }
}

@layer utilities {
  .link-blur-group {
    @apply flex justify-center items-center gap-1 font-semibold backdrop-blur-lg border border-color-white/10 bg-gradient-to-r from-color-white/10 to-color-black/20;
  }

  .bg-blur-dark {
    @apply backdrop-blur-lg bg-gradient-to-r from-color-secondary/30 to-color-white/10;
  }

  .bg-blur-hover {
    @apply bg-color-primary/0 backdrop-blur-lg bg-gradient-to-r from-color-secondary/30 to-color-white/10 hover:bg-color-primary/10 hover:from-color-red/20 hover:to-color-accent/50 transition-all duration-300;
  }

  .arrow-handler {
    @apply border border-color-secondary/10 rounded-lg shadow-md p-2 bg-color-dark group-hover:border-color-secondary hover:text-color-primary transition duration-75
  }
  
  /* not ok */
  .bg-blur-gradient {
    @apply bg-color-dark/10 backdrop-blur-lg  bg-gradient-to-r from-color-red/30 to-color-accent/30;
  }

}

.loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #2d7edd 94%, #0000) top/16px 16px
      no-repeat,
    conic-gradient(#0000 30%, #2d7edd);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 16px), #000 0);
  animation: s3 0.5s infinite linear;
}

@keyframes s3 {
  100% {
    transform: rotate(1turn);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d7edd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 126, 221, 0.8);
}
